<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="..\..\secrets.config">
    <add key="GatewayService.MerchantKey" value="85328786-8BA6-420F-9948-5352F5A183EB" />
    <add key="GatewayService.HostUri" value="https://sandbox.mundipaggone.com" />
  </appSettings>
</configuration>