@{
    ViewBag.Title = "Contato";
}

<section>
    <h1>Rafael Silveira Cordeiro</h1>
    <h2>Desenvolvedor Sênior C# e Java</h2>
    <h3>Solucionador de problemas <strong>usando tecnogia e programação</strong></h3>
</section>


<address>
    <strong>E-mail:</strong> <a href="mailto:mail@rafaelsc.net">mail@rafaelsc.net</a><br/>
    <strong>GitHub:</strong> <a href="https://github.com/rafaelsc">https://github.com/rafaelsc</a><br/>
    <strong>LinkedIn:</strong> <a href="https://br.linkedin.com/in/rafaelsc">https://br.linkedin.com/in/rafaelsc</a>
</address>

