@model List<Ticket4S.Web.ViewModels.EventViewModel>
@{
    ViewBag.Title = "Os Ingressos dos espetaculos mais desejados do Mundo";
}

<div class="jumbotron">
    <h2>Ingresso para os espetaculos mais desejados do Mundo...</h2>
</div>

<section class="row">

    @foreach (var ev in Model)
    {
        <div class="col-md-6">
            <h1>Evento: @ev.Name</h1>
            @foreach (var evt in ev.TicketsTypes)
            {
                <h2>@evt.Name</h2>

                <h3>Ingresso</h3>
                <p>Preço: @evt.Value</p>
                <p>@Html.ActionLink("Comprar esse ingresso", "Ingresso", "Event", new {id = evt.Id}, null)</p>
            }
        </div>
    }

</section>
